@model CarDealershipNew.Models.Models.Contact

@{
    ViewBag.Title = "Contact";
}

<h2>Contact Us</h2>
@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-row">
                            @ViewBag.Message
                            @Html.ValidationSummary(false)
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlInput1">Name</label>
                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlInput1">Email</label>
                                @Html.TextBoxFor(c => c.Email, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlInput1">Phone</label>
                                @Html.TextBoxFor(c => c.Phone, new { @class = "form-control", type = "text" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <label for="exampleFormControlTextarea1">Message</label>
                                @Html.TextAreaFor(c => c.Message, new { @class = "form-control", style = "max-width: 100%; height:150px;" })
                            </div>
                        </div>

                        <button type="submit" class="btn btn-secondary">Submit</button>

                    </div>
                    <div class="col-sm-6">
                        <div id="map"></div>
                        <p>111 W Main St, Louisville, KY 44444</p>
                        <p>Sales: 111-111-1111</p>
                        <p>Service: 111-111-1111</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


